@font-face {
    font-family: Kalam;
    src: url(fonts/Kalam.ttf);
}

@font-face {
    font-family: KalamBold;
    src: url(fonts/KalamBold.ttf);
}

* {
    background-color: rgb(31, 31, 31);
    font-family: Kalam;
    display: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}

.header h1 {
    color: rgb(202, 156, 255);
    font-size: 75px;
    margin: 20px;
}

.main {
    display: flex;
    color: white;
    justify-content: space-around;
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.scores {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 30px;
}

.main-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.game-board {
    display: grid;
    margin-top: 60px;
    padding: 20px;
    grid-template: repeat(3, 120px) / repeat(3, 120px);
    justify-content: center;
}

.tile {
    display: flex;
    color:rgb(188, 130, 255);
    justify-content: center;
    align-items: center;
    font-size: 60px;
    height: 120px;
    width: 120px;
    border: 1px solid white;
}

.tile:hover {
    background-color:rgb(89, 71, 110);
    cursor: pointer;
}

.tile:nth-child(1), .tile:nth-child(2), .tile:nth-child(3) {
    border-top: none;
}

.tile:nth-child(7), .tile:nth-child(8), .tile:nth-child(9) {
    border-bottom: none;
}

.tile:nth-child(1), .tile:nth-child(4), .tile:nth-child(7) {
    border-left: none;
}

.tile:nth-child(3), .tile:nth-child(6), .tile:nth-child(9) {
    border-right: none;
}

.results {
    display: flex;
    justify-content: center;
    width: 500px;
    margin-top: 40px;
}

.results-msg {
    color:rgb(202, 156, 255);
    font-size: 40px;
}

.next-round {
    display: flex;
    justify-content: center;
    width: 400px;
    margin-top: 30px;
}

.next-round-btn {
    color: rgb(188, 130, 255);
    background-color: rgb(31, 31, 31);
    border: 2px solid white;
    cursor: pointer;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    width: 175px;
}

.next-round-btn:hover {
    background-color: rgb(89, 71, 110);
}
.main-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 300px;
}

.reset-btn {
    position: absolute;
    top: 40px;
    right: 0;
    color: rgb(188, 130, 255);
    background-color: rgb(31, 31, 31);
    padding: 10px;
    font-size: 25px;
    border: 2px solid white;
    border-radius: 10px;
    width: 120px;
    height: 60px;
    cursor: pointer;
}

.reset-btn:hover {
    background-color:rgb(89, 71, 110);
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    border-top: 1px solid white;
}

.footer h2 {
    color: white;
    margin-top: 30px;
}