@font-face {
    font-family: Kalam;
    src: url(fonts/Kalam.ttf);
}

@font-face {
    font-family: KalamBold;
    src: url(fonts/KalamBold.ttf);
}

* {
    background-color: rgb(31, 31, 31);
    font-family: Kalam;
    display: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}

.header h1 {
    color: white;
    font-size: 75px;
    margin: 20px;
}

.main {
    display: flex;
    color: white;
    justify-content: space-around;
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.scores {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 25px;
}

.player-one-score, .player-two-score {
    text-align: left;
}

.main-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.game-board {
    display: grid;
    margin-top: 60px;
    padding: 20px;
    grid-template: repeat(3, 120px) / repeat(3, 120px);
    justify-content: center;
}

.tile {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    height: 120px;
    width: 120px;
    border: 1px solid white;
    opacity: 100%;
}

.tile:hover {
    background-color: rgb(202, 156, 255);
    opacity: 25%;
}

.tile:nth-child(1), .tile:nth-child(2), .tile:nth-child(3) {
    border-top: none;
}

.tile:nth-child(7), .tile:nth-child(8), .tile:nth-child(9) {
    border-bottom: none;
}

.tile:nth-child(1), .tile:nth-child(4), .tile:nth-child(7) {
    border-left: none;
}

.tile:nth-child(3), .tile:nth-child(6), .tile:nth-child(9) {
    border-right: none;
}

.results {
    display: flex;
    justify-content: center;
    width: 400px;
    margin-top: 60px;
}

.results-msg {
    font-size: 40px;
}

.next-round {
    display: flex;
    justify-content: center;
    width: 400px;
    margin-top: 60px;
}

.next-round-btn {
    color: white;
    background-color:rgb(130, 70, 199);
    border: none;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
}

.main-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    border-top: 1px solid white;
}

.footer h2 {
    color: white;
    margin: 20px;
}