* {
    border: 1px dotted red;
    display: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
}

.header h1 {
    font-size: 50px;
    margin: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.game-board {
    display: grid;
    margin: 50px;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
    justify-content: center;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.results {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 50px;
}

.results-msg {
    font-size: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.footer h2 {
    margin: 25px;
}